DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/worldshop?schema=public"
REDIS_URL="redis://localhost:6379"
MEILISEARCH_URL="http://localhost:7700"
MEILISEARCH_API_KEY="masterKey"
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your-refresh-secret-change-in-production"
JWT_REFRESH_EXPIRES_IN="7d"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
YANDEX_CLIENT_ID=""
YANDEX_CLIENT_SECRET=""
CITYADS_CLIENT_ID="your-cityads-client-id"
CITYADS_CLIENT_SECRET="your-cityads-client-secret"
SERPER_KEY="89bff08b265ea5608569cec6f8ddf2916bd560b7"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
PORT=3001